@charset "UTF-8";



body{
	background-image: url("../img/fleur-violette.jpg");
	background-image: no-repeat;
	width: 100%;
	height: 100%;
}

/***********************************************************
********************* STYLE DE LA DIV : ********************
*****************"BIENVENUE SUR NOTRE SITE"*****************
***********************************************************/

#container{
	width: 600px;
	height: 400px;
	border: 2px solid #FFF;
	margin: 0 auto;
}

#title{
	height: 50px;
	color: #FFF;
	background-color: #000;
	text-align: center;
}

#btn{
	width: 2px;
	height: 2px;
	border: 2px solid blue;
	border-color: #D738E2 transparent transparent transparent;
	border-width: 20px;
	margin: 0 auto;
	transition: width height 1s;
}

#btn:hover{
	height: 310px;
	width: 560px;
	background-color: purple;
	text-align: center;
	overflow: hidden;
}

ul{
	overflow: hidden;
	text-align: center;
	line-height: 30px;
	margin-top: 50px;
}

li{
margin: 0 auto;
list-style-type: none;
color: #FFF;
font-size: 1.2em;
}

h2{
	line-height: 50px;
	margin: 0 auto;
}

/***********************************************************
****************** FIN DU STYLE DE LA DIV : ****************
*****************"BIENVENUE SUR NOTRE SITE"*****************
***********************************************************/


#trans{
			width: 500px; 
			height: 500px; 
			background: red; 
			animation : rectangle 2s linear infinite alternate; 
		}
		
		@keyframes rectangle{
			0%{background: red; }
			50%{background: blue; margin-left: 50%; margin-top: 0;}
			100%{background: yellow; margin-top: 50%; margin-left: 50%; border-radius: 50%;}
		}

form{
	border: 2px dashed grey;
	width: 550px;
	height: 650px;
	margin: 0 auto;
	padding-top: 10px;
}

#conteneur{
	width: 600px;
	height: 700px;
	background-color:#441632;
	margin: 0 auto;
	

}

h1{
	
	padding-bottom: 30px;
	padding-left: 15px;
}

h1:hover{
	content: "Contact us !";
	color: #E789C5;
}


#name, #email, #message{
	width: 400px;
	height: 40px;
	background-color: #FFF9E1;
	color: black; 
	margin-top: 30px;
	display: block;
	border-radius: 10px;
	font-family: Times New Roman;
	font-size: 18px;
	margin-left: 15px;
	padding-left: 5px;
	border: none;

}
#message:hover{
	background-color: #EDAFCC;
}

#name:hover{
	background-color: #EDAFCC;
}

#email:hover{
	background-color: #EDAFCC;
}

#message{
	height: 110px;
	width: 400px;
	border-radius: 5px;

}

#bouton{
	float: right;
	width: 200px;
	height: 40px;
	margin-top: 100px;
	border-radius: 25px;
	background-color: #EDAFCC;
	margin-right: 20px;
	border: none;
	font-family: Times New Roman;
	font-size: 18px;
	transition: width 1s;

}

#bouton:hover{
	color: #441632;
	background-color: #FFFAE7;
	width: 250px;
}






