@charset "UTF-8";



body{
	background-image: url("../img/fleur-violette.jpg");
	background-image: no-repeat;
	width: 100%;
	height: 100%;
}

#trans{
			width: 500px; 
			height: 500px; 
			background: red; 
			animation : rectangle 2s linear infinite alternate; 
		}
		
		@keyframes rectangle{
			0%{background: red; }
			50%{background: blue; margin-left: 50%; margin-top: 0;}
			100%{background: yellow; margin-top: 50%; margin-left: 50%; border-radius: 50%;}
		}

form{
	border: 2px dashed grey;
	width: 550px;
	height: 650px;
	margin: 0 auto;
	padding-top: 10px;
}

#conteneur{
	width: 600px;
	height: 700px;
	background-color:#441632;
	margin: 0 auto;
	

}

h1{
	
	padding-bottom: 30px;
	padding-left: 15px;
}

h1:hover{
	content: "Contact us !";
	color: #E789C5;
}


#name, #email, #message{
	width: 400px;
	height: 40px;
	background-color: #FFF9E1;
	color: black; 
	margin-top: 30px;
	display: block;
	border-radius: 10px;
	font-family: Times New Roman;
	font-size: 18px;
	margin-left: 15px;
	padding-left: 5px;
	border: none;

}
#message:hover{
	background-color: #EDAFCC;
}

#name:hover{
	background-color: #EDAFCC;
}

#email:hover{
	background-color: #EDAFCC;
}

#message{
	height: 110px;
	width: 400px;
	border-radius: 5px;

}

#bouton{
	float: right;
	width: 200px;
	height: 40px;
	margin-top: 100px;
	border-radius: 25px;
	background-color: #EDAFCC;
	margin-right: 20px;
	border: none;
	font-family: Times New Roman;
	font-size: 18px;
	transition: width 1s;

}

#bouton:hover{
	color: #441632;
	background-color: #FFFAE7;
	width: 250px;
}






